.add_item_form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.form_select,
.form_input {
  padding: .3rem .6rem;
  margin-bottom: 5px;
}

.form_submit_btn {
  padding: .4rem .5rem;
  float: right;
}

.file_input {
  visibility: hidden;
  position: absolute;
  top: -1000px;
}
